@charset "UTF-8";
footer { background-color:black; opacity: 0.8; margin-top: 70px;}
body {
  height: 1000px;
  margin: 0 auto;
}

.top_menu{
		 margin: 0 auto;
}

#input .
#footer {width:100%;}
#footer:after {content:""; display:block; clear:both;} 
#footer .site {display:none;}
#footer .copywrap {width:96%;   padding:30px 2%;}
#footer .copywrap address {width:100%; display:inline-block; text-align:center;}
#footer .copywrap address:after {content:""; display:block; clear:both;} 
#footer .copywrap address dl {display:inline-block; #float:left; width:auto; margin:0; padding:0; display:inline-block; text-align:center;}
#footer .copywrap address dl dt { display:none;}
#footer .copywrap address dl dd {display:inline-block; #float:left; width:auto; font-size:13px; color:#999; padding:0 7px; line-height:1.4;}
#footer .copywrap .sns {width:100%;}
#footer .copywrap .sns ul { width:100%; display:inline-block; text-align:center;}
#footer .copywrap .sns ul:after {content:""; display:block; clear:both;} 
#footer .copywrap .sns ul li { 
	margin:10px 4px;
	display:inline-block; 
	#float:left;  
	border-radius: 70%;
    overflow: hidden;}
#footer .copywrap .sns p {width:100%; text-align:center; font-size:10px; color:#999;text-transform:uppercase; padding:0;}
#footer .copywrap .sns p br {display:none;}

/* min-width:1000px */
@media all and (min-width:1000px) {
/* footer */
#footer .copywrap address {width:76%; float:left;}
#footer .copywrap address dl { width:31.3%; float:left; margin:0 2% 0 0;}
#footer .copywrap address dl dt {display:block; width:100%; font-size:16px; font-weight:800; color:#eee; padding:0 0 15px 0;text-align:left;}
#footer .copywrap address dl dd { width:100%;  color:#999; text-align:left; padding:0; margin:0;}
#footer .copywrap .sns {width:20%; float:right;}
#footer .copywrap .sns ul li { float:right; margin:0 0 0 8px;}
#footer .copywrap .sns p { text-align:right; padding:55px 0 0 0;}
#footer .copywrap .sns p br {display:block;}
#footer .site ul li {display:inline-block; #float:left; margin:0 0.9%;}
}

/* min-width:1200px */
@media all and (min-width:1200px) {
/* footer */
#footer {width:100%;}
#footer:after {content:""; display:block; clear:both;} 
#footer .site {display:block; width:100%; background:#fff; padding:10px 0; border-top:1px solid #ccc;position:relative;}
#footer .site ul {width:100%;  max-width:1200px; margin:0 auto; text-align:center;}
#footer .site ul:after {content:""; display:block; clear:both;} 
#footer .site ul li {float:left; margin:0 0 0 5.6%;  }
#footer .site ul li:first-child {margin:0 ; }
#footer .copywrap {width:100%; padding:35px 0;}
#footer .copywrap dl { width:32.3%; margin:0 1% 0 0; line-height:1.4;}
}
