<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminDAO">

<!--로그인 -->
	<select id="selectAdmin" resultType="egovMap" parameterType="AdminVO"><!-- upd, ins, del ::: para->있으면 그것만 적어주면됨 but!!! select ret있어야함 -->
		SELECT 
				admin_id	    <!--관리자 id & 프라이머리 키 -->
			  , admin_pw    	<!-- 관리자 pw -->
			  , company_name	<!-- 회사명 -->
			  , company_address <!-- 회사주소 -->
			  , company_number <!-- 회사 연락처 -->
			  
		FROM admin_tb
		WHERE admin_id = #{admin_id}
		AND admin_pw = #{admin_pw}
	</select>
</mapper>