<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDAO">

<insert id="doJoin" parameterType="userVO">

	INSERT INTO user_tb (
		user_id
		, user_pw
		, user_nick
		, user_phone
	)
	VALUES(
		 #{userId}
		,#{userPw}
		,#{userNick}
		,#{userPhone}
	)
</insert>

<select id="selectLoginUser" parameterType="userVO" resultType="egovMap"><!-- param 직접만든 객체는 다른설정이 없다면 모든 경로를 다 명시 com.sillasys.user.vo.UserVO -->
	SELECT 
		 user_id
		,user_nick
		,user_phone
	FROM user_tb
	WHERE user_id = #{userId}
	AND	  user_pw = #{userPw}
</select>



</mapper>